<div class="field{% if field.errors %} has-error{% endif %}{% if field.field.widget.input_type == 'checkbox' %} field-check{% endif %}">
  {% if field.field.widget.input_type == 'checkbox' %}
    <label>{{ field }} <span>{{ field.label }}</span></label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="req" title="Required">*</span>{% endif %}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
  {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
</div>
